.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--primary-dark);
    width: 38rem;
    height: 32rem;
    margin: 0 3rem;
    outline: 2px solid var(--grey);
}

.checkout-container .checkout-box {
    width: 80%;
    margin: 2rem 4rem;

}

.checkout-container hr {
    border: 1px solid var(--primary-grey);
}

.checkout-container .container-mini {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout-box h1 {
    font-size: 1.7rem;
    margin: 1rem 0 1rem 0;
}

.checkout-box h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0.4rem 0 0.4rem 0;
    color: var(--secondary-dark);
}

.checkout-box span {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.4rem 0 0.4rem 0;
    color: var(--secondary-dark);
}

.checkout-box .btn {
    width: 100%;
    height: 3.5rem;
    font-size: 1.5rem;
}

.checkout-box p {
    font-size: 1.6rem;
    margin: 1.5rem 0 1.5rem 0;
}

.checkout-container .container-mini-h1 {
    font-size: 2rem;
    margin-left: -.3rem;
}