@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://swethaui-component-library.netlify.app/components/main.css');
:root{
  --primary-voilet: #8F00FF;
  --grey: #EBECED;
  --primary-dark: #272C33;
  --secondary-dark: #3F4652;
  --light-voilet: #cf9cf7;
  --primary-grey: rgb(148, 142, 142);
  --grey-1:rgb(177, 174, 174);
  --black:#000000;
  --light-grey:#FCFCFC;
}

*{
  font-family: 'Roboto',sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

h1{
  color: var(--primary-voilet);
}